[submodule "tmux-themepack"]
	path = tmux-themepack
	url = https://github.com/asfsdsf/tmux-themepack.git
[submodule "tmux-open"]
	path = tmux-open
	url = https://github.com/tmux-plugins/tmux-open
[submodule "tmux-resurrect"]
	path = tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
